[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
django = "==2.2.13"
python-memcached = "*"
requests = "*"
geoip2 = "*"
werkzeug = "*"
mysqlclient = "==1.4.6"
gunicorn = "*"

[requires]
python_version = "3.6"
